.perfilInformation{
    margin-top: 106px;
    margin-left: 112px;
    display: flex;
    align-items:  end;
}
.perfilInformation img {
    width: 100px;
    height: 100px;
    border: 8px solid var(--primary-color) ;
    border-radius: 20px;
}
.perfilInformation .info-cards {
    margin-bottom: 8px;    
    display: flex;
    gap: 20px;
    margin-left:  32px;
}
@media (max-width: 1100px){
    section{
        margin: 0 30px;
    }
}
@media (max-width: 1100px){
    .perfilInformation{
        margin-left: 78px;
    }
}
@media (max-width: 900px){
    .perfilInformation{
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .perfilInformation{
        margin-left: 30px;
        flex-direction: column;
        align-items: start;
    }
    .perfilInformation .info-cards{
        flex-direction: column;
        margin-left: 0;
        margin-top: 36px;
    }

}