.repos{
    display: flex;
    flex-direction: column;
}
.repos-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 55px;
}
.view-all{
    width: 100%;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-font-color);
    cursor: pointer;
    margin-bottom: 100px;
}
@media (max-width: 900px){
    .repos-cards{
        grid-template-columns: 1fr;
    }
}