nav{
    position: relative;
    width: 50%;
    max-width: 483px;
    background-color:var(--secundary-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 32px;
    padding: 16px;
    gap: 13px;
    border-radius: 10px;
}
nav input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-font-color);
    font-size: 16px;
    font-family: "Be Vietnam Pro", sans-serif;
}
nav input:focus::placeholder {
    color: transparent;
}

nav input::placeholder {
    color: var(--primary-font-color);
}
